{% extends 'patient/signinbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}

<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <br><br><br>
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Patient Login</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="name">Username</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field form.username class="input--style-5"%}

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group">
                                {% render_field form.password class="input--style-5" %}
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn--radius-2 btn-danger" type="submit">Login</button>
                    </div>
                </form>
                <br>
                <p style="text-align: center;">Does not have an account ? <a style="text-decoration: none;"
                        href="/patient/patientsignup">Click here to register</a></p>

            </div>
        </div>
    </div>
</div>

{% endblock content %}