<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    a {
      text-decoration: none;
      color: #7577a6;
    }

    a:hover,
    a:focus {
      text-decoration: none;
      color: #e85745;
    }
  </style>
</head>

<body>

  <!-- Footer section -->
  <footer class="pt-3 mb-4">
    <div class="container-lg">
      <a href="/" class="text-center fs-6">
        <div>Designed with <small style="color: #f03d3d;">❤</small> by Farah Ait Elahmadi
          &amp; Khadija BBIRRI</div>
        <div>
          <span>
            Copyright &copy; 2022
          </span>
        </div>
      </a>
    </div>
  </footer>
  <!-- End Footer section -->

</body>

</html>