{% extends 'patient/signinbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
    <div class="page-wrapper pb-5">
        <div class="wrapper wrapper--w790">
            <br><br><br>
            <div class="my-5">
                <div class="card-heading">
                    <h2 class="title orange-tx">Donor Signup</h2>
                </div>
                <div class="card-body">
                    <form class="row justify-content-center" method="POST" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="col-6 mb-5">
                            <div class="name">First Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.first_name|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mb-5">
                            <div class="name">Last Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.last_name|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mb-5">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.username|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mb-5">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.password|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>





                        <div class="col-6 mb-5">
                            <div class="name">Blood Group</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="bloodgroup">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>O+</option>
                                            <option>O-</option>
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                            <option>AB+</option>
                                            <option>AB-</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-6 mb-5">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field donorForm.address|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mb-5">
                            <div class="name">Mobile</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field donorForm.mobile|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mb-5">
                            <div class="name">Profile Pic</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field donorForm.profile_pic|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>



                        <div class="text-center">
                            <button class="btn btn--radius-2 btn-primary" type="submit">Sign up</button>
                        </div>
                    </form>
                    <br>
                    <p class="mt-4" style="text-align: center;">Already have an account ? <a style="text-decoration: none;"
                            href="/donor/donorlogin">Sign in</a></p>

                </div>
            </div>
        </div>
    </div>
    {% endblock content %}