{% extends 'patient/signinbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}

    <div class="page-wrapper">
        <div class="wrapper wrapper--w790">
            <br><br><br>
            <div class="my-5">
                <div class="card-heading">
                    <h2 class="title orange-tx">Donor Login</h2>
                </div>
                <div class="card-body">
                    <form class="row justify-content-center " method="POST">
                        {% csrf_token %}
                        <div class="col-7 mb-5">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="bg-pr">
                                    {% render_field form.username class="input--style-5"%}
                                </div>
                            </div>
                        </div>
                        <div class="col-7 mb-5">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field form.password class="input--style-5" %}
                                </div>
                            </div>
                        </div>




                        <div class="text-center">
                            <button class="btn btn--radius-2 btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                    <br>
                    <p class="mt-4" style="text-align: center;">Does not have an account ? <a style="text-decoration: none;"
                            href="/donor/donorsignup">Sign up</a></p>

                </div>
            </div>
        </div>
    </div>

    {% endblock content %}